{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block content %}

<div class="container">
    <h1>Modifier mon mot de passe</h1>

<hr>
    <a href="{{path('app_account')}}">Retourner dans l'espace compte</a><br>   
<hr>
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{ form(form) }}



</div>

{% endblock %}
